LOGIN_FULLNAME=Mike Miller
LOGIN_EMAIL=testman123@test.com
LOGIN_PASSWORD=P@ssw0rd
CRAWLER_BASE_URL=https://mallblitz.com
MAIL_API_BASE_URL=http://16.16.128.139:8025/api/
MAIL_API_REQUEST_TIMEOUT_MS=15000
MAIL_API_MAX_ATTEMPTS=10
MAIL_API_POLL_INTERVAL_MS=1500
MAIL_API_STRICT_HEADERS=true
